@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(255, 246, 238);
}